
@media  (max-width: 991px) {
    .banner__title, .blog__modal_title {
        font-size: 36px;
        line-height: 45px;
    }
    .social__area {
        align-items: center
    }
}
@media (max-width: 768px) {
    .banner__right img {
        border: none;
    }
}
@media (max-width: 576px) {
    .banner__title {
        font-size: 30px;
        line-height: 38px;
    }
}
/*=========================
    MEDIA QUERIES END 
==========================*/
