@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');



/* .text-blur {
  display: inline-block;
  position: relative;
}

.text-blur::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px; 
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
  pointer-events: none;
}
.text-blur::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40px; 
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  pointer-events: none; 
} */






/* 01. common */
:root {
    --color-white-100: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: "Inter", sans-serif; */
    font-family: "Noto Serif Bengali", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.4px;
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.section__header {
    text-align: center;
    margin-bottom: 50px;
}

/* 02. header */
#header {
    z-index: 100;
}

.header__bg {
    border-bottom: 1px solid rgba(71, 85, 105, 0.1);
    /*  backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px) */
}

.navbar {
    padding: 13px 0;

}


.nav-link:hover {
    color: #2B2B2B;
}

.nav-active {
    color: #2e1616;
}

.navbar-brand {
    font-family: "Saira Stencil One", sans-serif;
}

.navbar-brand svg {
    height: 32px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

#close-menu {
    display: none;
}

.show {
    display: block;
}

.arrow {
    box-shadow: 0 0 .375rem rgba(0, 0, 0, .1);
}


/* 03. banner */
#banner {
    border-bottom: 1px solid #8080803b;
    background: linear-gradient(180deg, #f8fafc, rgba(242, 202, 252, .11) 34.69%, rgba(250, 198, 252, .11) 44.06%, rgba(175, 183, 255, .11) 54.48%, rgba(142, 220, 200, .07) 64.9%, #f8fafc 97.95%);
}

.banner {
    height: calc(100vh - 1px);
}

.banner__title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1.2px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.banner__title span {
    color: var(--color-primary);
}

.banner__description {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.45px;
    margin-bottom: 35px;
}

.banner__btn span {
    color: #2B2B2B;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.banner__left {
    max-width: 625px;
    -webkit-max-width: 625px;
}

.banner__right {
    max-width: 420px;
    max-height: 450px;
}

.banner__right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: transparent;
    border: 1.5px solid rgba(71, 85, 105, .1);
}


.active {
    background-color: #f8fafc
}

#tags::-webkit-scrollbar {
    display: none;
}


#static-topics::-webkit-scrollbar {
    display: none;
}



/* blog css start */

#blog_details p {
    margin-bottom: 20px;
}

#blog_details h3 {
    font-weight: 600;
    /* margin: 4px 0; */
    /* margin-bottom: 8px; */
}

#blog_details ul li:not(:last-child) {
    margin-bottom: 2px;
}

#blog_details h3::first-letter {
    text-transform: uppercase;
}
#blog,
#blog_details {
    /* font-family: "Noto Serif Bengali", serif; */
    font-family: "Noto Serif Bengali", serif;
}


.description {
    max-width: 100%;
    /* Set a fixed width */
    overflow: hidden;
    /* Hide overflowing content */
    display: -webkit-box;
    /* Use flexbox for layout */
    -webkit-box-orient: vertical;
    /* Specify vertical orientation */
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    line-clamp: 2;
    /* Modern equivalent for supported browsers */
    white-space: normal;
    /* Allow text wrapping */

    /* Fallback for unsupported browsers */
    max-height: 3em;
    /* Approximate 2 lines with line-height */
    line-height: 1.5em;
    /* Set line height */
    overflow: hidden;
    text-overflow: ellipsis;
}
/* blog css end */















